<div id="advancedControlsDropdown">

	<div class="checkbox">
		<label>
			<input type="checkbox"> <b>Number of Rooms</b>
		</label>

		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox"> <b>Number of Bathrooms</b>
		</label>

		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>

	<div>
		<p><b>Lease Type</b></p>	
		<select class="form-control">
			<option>12 months</option>
			<option>8 months</option>
		</select>
	</div>

	<form>
		<div class="form-group">
    	<label for="monthlyLease">Monthly Lease</label>
    	<input type="number" class="form-control" id="monthlyLease" placeholder="Amount">
  		</div>
	</form>	

	<div class="checkbox">
		<label>
			<input type="checkbox"> Utilities Included
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox"> Laundry Included
		</label>
	</div>

	<div class="checkbox">
    	<label>
    	  <input type="checkbox"> Internet Included
    	</label>
  	</div>

  	<div class="checkbox">
		<label>
			<input type="checkbox"> Parking Included
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox"> Bike "Parking" Included
		</label>
	</div>

	<div class="checkbox">
		<label>
    	  <input type="checkbox"> Already Furnished
    	</label>
    </div>

	<div class="checkbox">
		<p><b> Distance from House Listing to: </b></p>

		<ul>
    	<li><label>
    	  <input type="checkbox"> Bus Stop
    	</label></li>

		<li><label>
    	  <input type="checkbox"> Grocery Store
    	</label></li>

    	<li><label>
    	  <input type="checkbox"> Laundry
    	</label></li>

    	<li><label>
    	  <input type="checkbox"> The LCBO
    	</label></li>

    	<li><label>
    	  <input type="checkbox"> The Hub
    	</label></li>
    	</ul>
  	</div>

  	<a href="http://www.studenthousingkingston.ca/">Other Affordable Student Housing</a>

  	<br>

	<button type="submit"> Submit </button>

</div>