<div id="advanced">
  <div class="form-group">
    <label>Number of Rooms</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label>Number of Bathrooms</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-group">
    <label>Lease Type</label>
    <select class="form-control">
      <option>12 months</option>
      <option>8 months</option>
    </select>
  </div>
  <div class="form-group">
    <label for="monthlyLease">Monthly Lease</label>
    <input type="number" class="form-control" id="monthlyLease" placeholder="Amount">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Utilities Included
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Laundry Included
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Internet Included
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Parking Included
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Bike "Parking" Included
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Already Furnished
    </label>
  </div>
  <p><a href="http://www.studenthousingkingston.ca/">Other Affordable Student Housing</a></p>
</div> <!-- advanced -->