<h1>{{title}}</h1>

<div id="housePicture" style="float:left;height:100%;width:50%;">
	<img src="http://placehold.it/515x440" class="img-rounded">
	<img src="http://placehold.it/100x100">
	<img src="http://placehold.it/100x100">
	<img src="http://placehold.it/100x100">
	<img src="http://placehold.it/100x100">
	<img src="http://placehold.it/100x100">

</div>

<div id="houseInfo" style="float:left;height:100%;width:50%;">
	<p>

		<b>Address:</b> Address of the house. <br>
		<b>Number of Rooms:</b> Num of rooms.<br>
		<b>Number of Bathrooms:</b> Num of bathrooms. <br>
		<b>Distance From Campus:</b> Calculated distance from campus. <br>
		<b>Distance from:</b><br>
		<b>Lease Type:</b> 8 or 12 months. <br>
		<b>Utilities:</b> Yes or No. <br>
		<b>Internet:</b> Yes or No. <br>
		<b>Laundry:</b> Yes or No. <br>
		<b>Parking:</b> Yes or No. <br>
		<b>Bike "Parking":</b> Yes or No <br>
		<b>Already Furnished:</b> Yes or No.<br>
		<b>Distance from:</b>
		<ul>
			<li>Bus Stop: the distance.</li>	
			<li>Grocery Store: the distance.</li>
			<li>The LCBO: the distance.</li>
			<li>Laundry: the distance.</li>
			<li>The Hub: the distance.</li>
		</ul>

	</p>
	<h4><b><strong>Monthly Rent: $$$</strong></b></h4>
</div>
