<div id="page" class="container">
	<div class="page-header-thing row">
		<div class="col col-md-12">
			<h1 id="website"><img src="http://i.imgur.com/nPmUFs6.png" alt="House logo" style="width:70px;height:60px;"> Housing Helper </font></h1>
		</div>		
	</div> <!-- page-header-thing -->
	<div class="page-controls row">
		<div id="controls" class="col col-md-12"> 
			<!-- contains slider + advanced -->
			<div id="slider" class="row">
				<div id="sidebarAndControlsButton" class="col col-md-10">
					<p> How far from campus would you like to be (in m)? </p>
					<input type="range" name="rangeSlider" min="0" max="10000" step="100">
				</div>
				<div class="col col-md-2">
					<a class="btn btn-md btn-primary" id="toggle">Advanced Options <i class="fa fa-caret-down"></i></a>
				</div>
			</div>
			<div id="advanced">
				<!-- height is 0, expands after the button is clicked, put Emma's code here -->

				<div class="checkbox">
					<label>
						<input type="checkbox"> <b>Number of Rooms</b>
					</label>

					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> <b>Number of Bathrooms</b>
					</label>

					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>

				<div>
					<p><b>Lease Type</b></p>	
					<select class="form-control">
						<option>12 months</option>
						<option>8 months</option>
					</select>
				</div>

				<form>
					<div class="form-group">
						<label for="monthlyLease">Monthly Lease</label>
						<input type="number" class="form-control" id="monthlyLease" placeholder="Amount">
					</div>
				</form>	

				<div class="checkbox">
					<label>
						<input type="checkbox"> Utilities Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Laundry Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Internet Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Parking Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Bike "Parking" Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Already Furnished
					</label>
				</div>

				<div class="checkbox">
					<p><b> Distance from House Listing to: </b></p>

					<ul>
						<li><label>
							<input type="checkbox"> Bus Stop
						</label></li>

						<li><label>
							<input type="checkbox"> Grocery Store
						</label></li>

						<li><label>
							<input type="checkbox"> Laundry
						</label></li>

						<li><label>
							<input type="checkbox"> The LCBO
						</label></li>

						<li><label>
							<input type="checkbox"> The Hub
						</label></li>
					</ul>
				</div>

				<a href="http://www.studenthousingkingston.ca/">Other Affordable Student Housing</a>
					<button type="submit" class="btn btn-submit btn-primary"> Submit </button>
				<br>

				<button type="submit"> Submit </button>
			</div> <!-- advanced -->
		</div> <!-- controls -->
	</div> <!-- page-controls -->
	<div class="row">
		<div id="map" class="col-md-7 col"></div> <!-- map -->
		<div id="sidebar" class="col-md-5 col">

			<div class="info container">
				<div class="row">
					<div class="col-md-2 col">
						<div id="thumb">
							<img src="https://placeholdit.imgix.net/~text?txtsize=14&txt=150%C3%97150&w=150&h=150" alt="House thumbnail" style="width:150px;height:150px;">
						</div> <!-- thumbnail -->
					</div> <!-- thumb cols -->
					<div class="col-md-3 col">
						<div id="desc">
							<h2><font size=5>Address 1</font></h2>
							<p>Distance from campus</p>
							<p>Description of house by lanlord/ management company: # of bedrooms, # of bathrooms, utilities, whatever they wanna write in the description.<p>
								<p>$$$</p>
							</div>
						</div>
					</div>
				</div> <!-- info container -->

			</div> <!-- sidebar -->
		</div> 
	</div> <!-- row -->
</div> <!-- page -->

<!-- Google maps API -->
<script>
	function initMap() {
		var uluru = {lat: 44.227914, lng: -76.495608};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 15,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdVkDZvDHp-2kThT7LYGGX3mCwE0gnF7E&callback=initMap" async defer>
</script>
<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer></script>