<div id="page" class="container">
	<div class="page-header-thing row">
		<div class="col col-md-12">
			<h1 id="website"><img src="http://i.imgur.com/nPmUFs6.png" alt="House logo" style="width:70px;height:60px;"> Housing Helper </font></h1>
		</div>		
	</div> <!-- page-header-thing -->
	<div class="page-controls row">
		<div id="controls" class="col col-md-12"> 
			<!-- contains slider + advanced -->
			<div id="slider" class="row">
				<div id="sidebarAndControlsButton" class="col col-md-10">
					<p> How far from campus would you like to be (in m)? </p>
					<input type="range" name="rangeSlider" min="0" max="10000" step="100">
				</div>
				<div class="col col-md-2">
					<a class="btn btn-md btn-primary" id="toggle">Advanced Options <i class="fa fa-caret-down"></i></a>
				</div>
			</div>
			<div id="advanced">
				<!-- height is 0, expands after the button is clicked, put Emma's code here -->

				<div class="checkbox">
					<label>
						<input type="checkbox"> <b>Number of Rooms</b>
					</label>

					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> <b>Number of Bathrooms</b>
					</label>

					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>

				<div>
					<p><b>Lease Type</b></p>	
					<select class="form-control">
						<option>12 months</option>
						<option>8 months</option>
					</select>
				</div>

				<form>
					<div class="form-group">
						<label for="monthlyLease">Monthly Lease</label>
						<input type="number" class="form-control" id="monthlyLease" placeholder="Amount">
					</div>
				</form>	

				<div class="checkbox">
					<label>
						<input type="checkbox"> Utilities Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Laundry Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Internet Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Parking Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Bike "Parking" Included
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox"> Already Furnished
					</label>
				</div>

				<div class="checkbox">
					<p><b> Distance from House Listing to: </b></p>

					<ul>
						<li><label>
							<input type="checkbox"> Bus Stop
						</label></li>

						<li><label>
							<input type="checkbox"> Grocery Store
						</label></li>

						<li><label>
							<input type="checkbox"> Laundry
						</label></li>

						<li><label>
							<input type="checkbox"> The LCBO
						</label></li>

						<li><label>
							<input type="checkbox"> The Hub
						</label></li>
					</ul>
				</div>

				<a href="http://www.studenthousingkingston.ca/">Other Affordable Student Housing</a>
					<button type="submit" class="btn btn-submit btn-primary"> Submit </button>
				<br>

				<button type="submit"> Submit </button>
			</div> <!-- advanced -->
		</div> <!-- controls -->
	</div> <!-- page-controls -->
	<div class="main-content row">
		<div id="map" class="col-md-7 col"></div> <!-- map -->
		<div id="sidebar" class="col-md-5 col">

			<div data-bind="foreach: houseList" class="info container">
				<div class="row">
					<div class="col-md-2 col">
						<div id="thumb">
							<img data-bind="attr: { src: thumbnail }">
						</div> <!-- thumbnail -->
					</div> <!-- thumb cols -->
					<div class="col-md-3 col" id="desc">
						<h2 class="info-address" data-bind="text: title"></h2>
						<p class="distance">1300m from campus</p>
						<p class="shortDescription" data-bind="text: shortDescription"><p>
							<p class="price">
								<i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i>
								<span data-bind="text: price"></span>
								<span data-bind="text: priceInterval"></span>
							</p>
						</div>
					</div>
				</div> <!-- info container -->

			</div> <!-- sidebar -->
		</div> <!-- main-content -->
		<footer class="row">
			<div class="col col-md-12">
				<p>Made with &#9829; by Emma, Marissa, Brendan, and Kevin</p>
			</div>
		</footer>
	</div> <!-- page -->
	<!-- Google maps API -->
	<script>
		function initMap() {
			var uluru = {lat: 44.227914, lng: -76.495608};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 15,
				center: uluru
			});
			var marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdVkDZvDHp-2kThT7LYGGX3mCwE0gnF7E&callback=initMap" async defer>
	</script>
	<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer></script>