<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/g/bootstrap@3.3.7(css/bootstrap.min.css+css/bootstrap-theme.css)">
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
