<!DOCTYPE html>
<!--
   -This is the webapp Housing Helper, designed by "House LANnister: Hear Us RAR!" for Limestone City Hacks
   -Housing Helper was created to help Queen's students looking for housing, and improve the house hunting experience

   -Authors: Brendan, Emma, Kevin, and Marissa
   -Created: 03/12/16
-->
<html>
  <head>
    <title>{{title}}</title>
    
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap-theme.css" integrity="sha256-xOpS+e/dER8z72w+qryCieOGysQI8cELAVt3MHG0phY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-slider/9.5.3/css/bootstrap-slider.min.css" integrity="sha256-ED+X7ZpkRd9HICSuh+Z4gDrQEr2O1WP3yU6uYsvcP2s=" crossorigin="anonymous">
    
    {{!-- FontAwesome --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    
    {{!-- Web Fonts --}}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Titillium+Web">

    {{!-- Custom Styles --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- jQuery --}}
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    {{!-- Knockout --}}
    <script src="https://cdn.jsdelivr.net/knockout/3.4.1/knockout.js" integrity="sha256-PX9zWVaICUCeklczWaS9DLBb9uGN7pCkCT0Kyz1elRo=" crossorigin="anonymous"></script>
    {{{body}}}
  </body>
</html>