body {
  padding: 50px;
  font-family: 'Titillium Web', sans-serif;;
  background-color: rgb(242, 235, 231);
  font-size: 14px
  color: rgb(34,23,18);
}

a {
  color: #00B7FF;
}

#website {
	font-family: 'Montserrat Subrayada', Helvetica, sans-serif;
	font-size: 40px;
	background-color: rgb(82,126,144);
	border: 5px solid #5f4236;
}
#map {
  height: 560px;
  /*width: 800px;*/
  vertical-align: left;
}

#sidebar {
  overflow: scroll;
  overflow-x: hidden;
}

html {
  min-height: 100%;
}
body {
  background-color: #f8f8f8;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
}
h1,
h2 {
  margin-top: 0;
<<<<<<< HEAD
=======
}

.info-address {
  font-size: 25px;
>>>>>>> 86c3831... Fix stylesheet
}